#------------------------------------------------------------------
#
# Global Variables loaded from XLSX or CSV files
#
#------------------------------------------------------------------
# Add Tenant

fvTenant:
{% for tenant in tenants %}
  - name: {{tenant.name}}
    descr: {{tenant.descr}}
    status: {{tenant.status}}
{% endfor %}
    
#------------------------------------------------------------------